
  
  .nav:hover {
    background-color: #0056b3;
  }
  
  .active{
    background-color: blue;
    border: none;
    font-weight: 700;
    border-radius: 10px;
  }
  .subclass{
    background-color: rgb(194, 194, 16);
    border: none;
    font-weight: 700;
    border-radius: 10px;
  }
  .back-arrow {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    transition: transform 0.8s ease-in-out;
  }
  
  .back-arrow:hover {
    transform: scale(1.2);
  }

  .table td, .table th{
    font-size: 18px;
    padding: 15px;  
    text-align: left;
  }

  .table tr {
    line-height: 2.0; 
  }
  
  .table {
    margin-top: 20px;
  }

  h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;  
    color: #333;
    line-height: 1.4; 
    color: white;
  }